@import "utils/_variables";
@import "utils/_functions";

.root {
margin-top: spacing(20);
}
.title{
    text-align: center;
    margin: spacing(2) 0;
    font-size: $font-size-big;
    font-weight: 500;

    span{
        color:#fff;
    }
}
.newsItems{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr) ;
    gap: 50px 50px;
}