$bg-color: #69f0ae;
$red: #ff0036;
$darkblue: #373e59;
$white: #fff;
$black: #000;
$gray: #9c9c9c;
$text-color: #000;

$spacing: 8px;

$font-size-main: 16px;
$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-big: 18px;
$font-size-logo: 36px;

$font-main: "Montserrat", "sans-serif";
$font-text: "Arial", "sans-serif";

$error-color: #d50000;
$primary-color: #00897b;
$secondary-color: #ff6d00;
$common-white: #fff;
